/* Frontend Styles */
/* Base */
a {
  color: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #ebb741;
}

form {
  color: white;
}
form p {
  font-size: 1em;
  margin-bottom: 1rem;
}
form label {
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 0.25rem;
  background: #262626;
  background-clip: padding-box;
  color: white;
  box-sizing: border-box;
}

input[type=submit] {
  display: block;
  padding: 12px 50px;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.25em;
  color: #ffffff;
  background: #ebb741;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
  background-color: #e1a418;
}

textarea {
  min-height: 130px;
}

select {
  width: 100%;
  height: 2.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: none;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #ffffff;
}

::placeholder {
  color: #AAA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #AAA;
}

::-ms-input-placeholder {
  color: #AAA;
}

/* Layout */
#header {
  position: absolute;
  width: 100%;
  z-index: 1080;
}
#header .topbar {
  display: none;
  color: #fff;
  background-color: #000;
}
@media (min-width: 992px) {
  #header .topbar {
    display: block;
  }
}
#header .topbar-menu-wrap {
  display: flex;
  flex: 1;
}
#header .topbar-menu-wrap:first-child {
  justify-content: flex-start;
}
#header .topbar-menu-wrap:last-child {
  justify-content: flex-end;
}
#header .topbar-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 8px 0;
  font-size: 12px;
}
#header .topbar-menu .menu-item:not(:first-child) {
  padding-left: 16px;
}
#header .navbar {
  transition: 0.3s;
}
#header .navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000000 !important;
}
#header .navbar.navbar-expand-lg {
  background: #000000;
}
@media (min-width: 992px) {
  #header .navbar.navbar-expand-lg {
    background: transparent;
  }
}
#header .navbar-collapse {
  text-align: center;
  background: #000000;
}
@media (min-width: 992px) {
  #header .navbar-collapse {
    text-align: unset;
    background: unset;
  }
}
@media (min-width: 992px) {
  #header .nav-item {
    padding: 8px;
  }
  #header .nav-item .nav-link {
    position: relative;
    padding: 0 0 4px 0;
    font-size: 14px;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    text-transform: lowercase;
  }
  #header .nav-item .nav-link::after {
    content: "";
    width: 0;
    transition: width 0.3s ease;
  }
  #header .nav-item.active .nav-link::after, #header .nav-item:hover .nav-link::after, #header .nav-item:active .nav-link::after, #header .nav-item:focus .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ebb741;
    transition: width 0.3s ease;
  }
}
#header .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
#header .navbar-dark .navbar-nav .nav-link:hover, #header .navbar-dark .navbar-nav .nav-link:active, #header .navbar-dark .navbar-nav .nav-link:focus {
  color: #ffffff;
}

.footer-widgets {
  padding: 30px 0;
}
.footer-widgets .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .footer-widgets .container {
    flex-direction: row;
  }
  .footer-widgets .container > .widget-column {
    position: relative;
    padding: 0 15px;
  }
  .footer-widgets .container > .widget-column:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 75%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
  }
}
.footer-widgets .widget {
  padding: 15px 0;
}
.footer-widgets .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.footer-widgets .gallery .gallery-item {
  width: auto !important;
  margin: 0 !important;
}
@media (min-width: 768px) {
  .footer-widgets .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-widgets .gallery .gallery-item {
    width: auto !important;
    margin: 15px !important;
  }
}

.footer-copyright {
  font-size: 14px;
  color: #565656;
  background-color: #000000;
}
.footer-copyright .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
@media (min-width: 768px) {
  .footer-copyright .container {
    justify-content: space-between;
  }
}

.footer-menu {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .footer-menu {
    display: flex;
  }
}
.footer-menu .menu-item:not(:first-child) {
  padding-left: 16px;
}

/* Components */
.recent-blog-posts {
  display: grid;
  grid-column-gap: 30px;
}
@media (min-width: 576px) {
  .recent-blog-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog .post,
.blog .page {
  border-bottom: 1px solid #ffffff;
}

.blog-sidebar .widget {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post .entry-header > *:not(.alignwide):not(.alignfull),
.post .entry-content > *:not(.alignwide):not(.alignfull) {
  padding-left: 0;
  padding-right: 0;
}

.post-thumbnail {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: unset;
  transition: all 0.3s ease;
}
.post-thumbnail figure {
  position: relative;
  margin: 0;
  z-index: -1;
}
.post-thumbnail img {
  transform: scale(1);
  transition: all 0.3s ease;
}
.post-thumbnail:hover, .post-thumbnail:active, .post-thumbnail:focus {
  -webkit-box-shadow: inset 0 0 0 15px #ebb741;
  -moz-box-shadow: inset 0 0 0 15px #ebb741;
  box-shadow: inset 0 0 0 15px #ebb741;
}
.post-thumbnail:hover img, .post-thumbnail:active img, .post-thumbnail:focus img {
  transform: scale(1.15);
}

.read-more-link {
  font-weight: bold;
  color: #ffffff;
  background: #ebb741;
}
.read-more-link:hover, .read-more-link:active, .read-more-link:focus {
  background-color: #e1a418;
}

.entry-header .entry-title {
  color: #ebb741;
}

.wp-block-cover__inner-container,
.entry-header,
.entry-content {
  width: 100% !important;
}
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
  .entry-header > *:not(.alignwide):not(.alignfull),
  .entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
  .entry-header > *:not(.alignwide):not(.alignfull),
  .entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
  .entry-header > *:not(.alignwide):not(.alignfull),
  .entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
  .entry-header > *:not(.alignwide):not(.alignfull),
  .entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 1140px;
  }
}
.wp-block-cover__inner-container .alignfull,
.entry-header .alignfull,
.entry-content .alignfull {
  max-width: 100%;
}
.wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container .alignwide,
  .entry-header .alignwide,
  .entry-content .alignwide {
    max-width: 1360px;
  }
}

.search-form .search-field {
  background: #262626;
  border: none;
}
.search-form .search-submit {
  font-weight: bold;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #ffffff;
  background: #ebb741;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-form .search-submit:hover, .search-form .search-submit:active, .search-form .search-submit:focus {
  background-color: #e1a418;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.widget img {
  max-width: 100%;
  height: auto;
  border: none !important;
}
.widget ul {
  padding: 0;
  padding-inline-start: 1em;
}
.widget li {
  margin-bottom: 12px;
}
.widget .gallery-item {
  margin-top: 8px !important;
  margin-bottom: 8px;
}

.widget-title {
  font-size: 1.4rem;
}

.tagcloud {
  text-align: center;
}
@media (min-width: 576px) {
  .tagcloud {
    text-align: inherit;
  }
}
.tagcloud .tag-cloud-link {
  display: inline-block;
  margin-bottom: 5px;
  padding: 8px;
  font-size: 1em !important;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.25em;
  color: white;
  background-color: #ebb741;
}
.tagcloud .tag-cloud-link:hover, .tagcloud .tag-cloud-link:active, .tagcloud .tag-cloud-link:focus {
  background-color: #e1a418;
}

.pagination .nav-links,
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
}
.pagination .nav-links > *,
.post-navigation .nav-links > * {
  padding: 1rem;
}

.pagination .current {
  color: #ebb741;
}

.comments .comment-list {
  padding: 0;
}
.comments .comment-list,
.comments .children {
  list-style: none;
}
.comments .comment-body {
  padding: 15px;
  margin-bottom: 1rem;
  border-radius: 0.25em;
  background-color: #262626;
}
.comments .comment-form label {
  font-weight: bold;
  margin-bottom: 8px;
}
.comments .comment-reply-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25em;
  background-color: #ebb741;
  color: #ffffff;
}
.comments .reply {
  height: auto;
}

/* Templates */
.blog > .container,
.single > .container,
.archive > .container {
  padding-top: 150px;
}

/*# sourceMappingURL=frontend-styles.css.map */
