// Post

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // .wp-block-cover__inner-container,
    .entry-header,
    .entry-content {
        &>*:not(.alignwide):not(.alignfull) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.post-thumbnail {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: unset;
    transition: all .3s ease;

    figure {
        position: relative;
        margin: 0;
        z-index: -1;
    }

    img {
        transform: scale(1);
        transition: all .3s ease;
    }

    &:hover,
    &:active,
    &:focus {
        -webkit-box-shadow: inset 0 0 0 15px rgba($primary-color, 1);
        -moz-box-shadow: inset 0 0 0 15px rgba($primary-color, 1);
        box-shadow: inset 0 0 0 15px rgba($primary-color, 1);

        img {
            transform: scale(1.15);
        }
    }
}

.read-more-link {
    font-weight: bold;
    color: #ffffff;
    background: $primary-color;

    &:hover,
    &:active,
    &:focus {
        background-color: darken($primary-color, 10%);
    }
}