// Search Form

.search-form {
    .search-field {
        background: #262626;
        border: none;
    }

    .search-submit {
        font-weight: bold;
        border: none;
        border-radius: 0 0.25rem 0.25rem 0;
        color: #ffffff;
        background: $primary-color;
        transition:
            color .15s ease-in-out,
            background-color .15s ease-in-out,
            border-color .15s ease-in-out,
            box-shadow .15s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            background-color: darken($primary-color, 10%);
        }
    }
}