// Widgets

.widget {
    img {
        max-width: 100%;
        height: auto;
        border: none !important;
    }

    ul {
        padding: 0;
        padding-inline-start: 1em;
    }

    li {
        margin-bottom: 12px;
        // color: white;
    }

    .current-cat {}

    .gallery-item {
        margin-top: 8px !important;
        margin-bottom: 8px;
    }
}

.widget-title {
    font-size: 1.4rem;
}