/* Admin Styles */
.editor-post-title__block .editor-post-title__input {
  font-family: "Arimo", sans-serif;
  color: #ebb741;
}

.wp-block-shortcode textarea {
  color: #000;
  width: 100%;
}

/*# sourceMappingURL=admin-styles.css.map */
