// Footer

.footer-widgets {
    padding: 30px 0;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            flex-direction: row;

            // Add a border element before each column, just not for the first column
            &>.widget-column {
                position: relative;
                padding: 0 15px;

                &:not(:first-child)::before {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 75%;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    background-color: #fff;
                }
            }
        }
    }

    .widget {
        padding: 15px 0;
    }

    // Change Gallery Widget to Display Grid
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;

        .gallery-item {
            width: auto !important;
            margin: 0 !important;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;

            .gallery-item {
                width: auto !important;
                margin: 15px !important;
            }
        }
    }
}

.footer-copyright {
    font-size: 14px;
    color: #565656;
    background-color: #000000;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            justify-content: space-between;
        }
    }
}

.footer-menu {
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        display: flex;
    }

    .menu-item:not(:first-child) {
        padding-left: 16px;
    }
}