// Header

#header {
    position: absolute;
    width: 100%;
    z-index: 1080;

    .topbar {
        display: none;
        color: #fff;
        background-color: #000;

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            display: block;
        }
    }

    .topbar-menu-wrap {
        display: flex;
        flex: 1;

        &:first-child {
            justify-content: flex-start;
        }

        &:last-child {
            justify-content: flex-end;
        }
    }

    .topbar-menu {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 8px 0;
        font-size: 12px;

        .menu-item:not(:first-child) {
            padding-left: 16px;
        }
    }

    .navbar {
        transition: 0.3s;

        &.sticky {
            position: fixed;
            top: 0;
            width: 100%;
            background: #000000 !important;
            // background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4962359943977591) 50%, rgba(0, 0, 0, 0) 100%);
        }

        &.navbar-expand-lg {
            background: #000000;

            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                background: transparent;
            }
        }
    }

    .navbar-collapse {
        text-align: center;
        background: #000000;

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            text-align: unset;
            background: unset;
        }
    }

    .nav-item {

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            padding: 8px;

            .nav-link {
                position: relative;
                padding: 0 0 4px 0;
                font-size: 14px;
                font-family: 'Arimo', sans-serif;
                font-weight: bold;
                text-transform: lowercase;

                &::after {
                    content: '';
                    width: 0;
                    transition: width .3s ease;
                }
            }

            &.active,
            &:hover,
            &:active,
            &:focus {
                .nav-link {
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $primary-color;
                        transition: width .3s ease;
                    }
                }
            }
        }

    }

    .navbar-dark {
        .navbar-nav {
            .nav-link {
                color: #ffffff;

                &:hover,
                &:active,
                &:focus {
                    color: #ffffff;
                }
            }
        }
    }
}