// Types

body {
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    background-color: black;    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}