/* Shared Styles */
body {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arimo", sans-serif;
  font-weight: bold;
}

.wp-block {
  max-width: 1140px;
}

.wp-block[data-align=wide] {
  max-width: 1360px;
}

.wp-block[data-align=full] {
  max-width: none;
}

.wp-block-group *:last-child {
  margin-bottom: 0;
}

.wp-block-cover,
.wp-block-cover-image {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wp-block-columns {
  margin-top: 30px;
  margin-bottom: 30px;
}

.wp-block-column {
  padding-left: 15px;
  padding-right: 15px;
  margin: 15px 0 !important;
}

.wp-block-quote {
  border-color: #fff;
}

.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-right: unset;
}

.wp-block-image {
  margin-bottom: 0;
}
.wp-block-image img {
  max-width: 100%;
  height: auto;
}

.is-style-cover-full-view-height {
  height: 100% !important;
  min-height: 100vh !important;
}

/*# sourceMappingURL=shared-styles.css.map */
